html,
.body {
  height: 100%;
  background-color: #0084ff;
}

body {
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
  align-items: center;
  justify-content: center;
}

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
